* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  --blue: #ff0000;
  --primary: #ff0000;
}
html{
}
body {
  font-family: Light, Helvetica, sans-serif;
  line-height: 1.4;
  background-image: url(Assets/background.jpg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  color: white;

}
.redbgimg{
  background-image: url(Assets/background.jpg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.thin {
  font-family: Goldbill;
}
@font-face {
  font-family: Goldbill;
  src: url(Assets/Goldbill-XLLight.ttf);
}
@font-face {
  font-family: Code;
  src: url(Assets/CODE\ Bold.otf);
}
@font-face {
  font-family: Light;
  src: url(Assets/ModernSans-Light.otf);
}
    /* Inactive tab */
.myClass ul > li > a {
    background-color: black;
    color: red;
}
.myClass ul > li > a:hover {
    background-color: pink;
}

/* Active tab */
.myClass ul > li.active > a,
.myClass ul > li.active > a:hover,
.myClass ul > li.active > a:focus {
    background-color: red;
    color: white;
}

/* Disabled tab */
.myClass ul > li.disabled > a {
    background-color: lightgray;
    color: darkgray;
}


a {
  color: #ff0000;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #b30000;
  text-decoration: underline;
}
.btn-primary {
  color: #fff;
  background-color: #ff0000;
  border-color: #ff0000;
}
.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #ff0000;
  border-color: #ff0000;
}

.btn-outline-primary {
  color: #ff0000;
  border-color: #ff0000;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #ff0000;
  border-color: #ff0000;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #ff0000;
  border-color: #ff0000;
}
.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #ff0000;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #ff0000;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border-color: #ff5555 #ff5555 #ff5555;
}

.nav-tabs .nav-link.disabled {
  color: #ffffff;
  background-color: #ff5555;
  padding-left: 20px;
  padding-right: 20px;
  border-color: transparent;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #ffffff;
  background-color: #ffaeae;
  border-color: #ff5555 #ff5555 #ff5555;
}
